h2 {

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    text-align: center;
    margin-top: 50px;
}
hr {
    border: 2px solid cyan;
    margin: 0 500px;
}
.carousel-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: 10px;
}
.prev-btn {
    border: none;
    background: none;
    color: cyan;
}
.nxt-btn {
    border: none;
    background: none;
    color: cyan;
}
#author {
    font-weight: bold;
}
#job {
    color: darkturquoise;
}